<%  provide(:title, 'Help') %>
<h1>Help</h1>
<p>
        Get help on ruby on rails tutorial at the
        <a href="http://xxx">Rails tutorail help page</a>
        to get help on this sample app ,see the
        <a href="http://xxx2">rails tutorial book</a>
</p>
